In [1]:
import pandas as pd
import numpy as np

data = {
    "id": [],
    "date": [],
    "order_value": []
}

df = pd.DataFrame(data)

df.info()
df.head()

df.date.to_datetime()

df.date.month
df.date.year
df.date.day

grouped_data = df.groupby(by=["year", "month", "day"]).sum()
df["new_column"] = grouped_data.diff()


df.order_value.diff()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           0 non-null      float64
 1   date         0 non-null      float64
 2   order_value  0 non-null      float64
dtypes: float64(3)
memory usage: 132.0 bytes

AttributeError: 'Series' object has no attribute 'to_datetime'

## Questions

In [41]:
import pandas as pd
import numpy as np

data = {
    "year_month": ["2024-05"],
    "search_amount": [15]
}

print(data)

df = pd.DataFrame(data)
df

{'year_month': ['2024-05'], 'search_amount': [15]}

  year_month  search_amount
0    2024-05             15

In [42]:
df = df.set_index("year_month")
df.index = pd.to_datetime(df.index)

In [44]:
target_map = df['search_amount'].to_dict()
target_map

{Timestamp('2024-05-01 00:00:00'): 15}

In [49]:
print(df.index - pd.Timedelta('52 W'))
print(df.index - pd.DateOffset(years=1))
print((df.index - pd.Timedelta('52 W')).map(target_map))

DatetimeIndex(['2023-05-03'], dtype='datetime64[ns]', name='year_month', freq=None)
DatetimeIndex(['2023-05-01'], dtype='datetime64[ns]', name='year_month', freq=None)
Index([nan], dtype='float64', name='year_month')